[user]
	name = beyarkay
	email = boydrkane@gmail.com

[color]
	ui = auto

[push]
	default = simple

[core]
    pager = less -FMRiX
	excludesfile = ~/.gitignore_global

[alias]
    dag = log --graph --format='format:%C(yellow)%h%C(reset) %C(blue)\"%an\" <%ae>%C(reset) %C(magenta)%cr%C(reset)%C(auto)%d%C(reset)%n%s' --date-order --all
    last = log -1 HEAD
    co = checkout
    follow = log --follow -p --

[commit]
	template = ~/.gitmessage

[pull]
	rebase = true

[rebase]
    # Make the rebase command stashes before running, and pops after running
    autoStash = true

[diff]
	tool = vimdiff
    # Better, more concise diffs for functions with curly braces
    algorithm = patience

[difftool]
	prompt = false

[difftool "vimdiff"]
	cmd = vimdiff \"$LOCAL\" \"$REMOTE\"

[init]
    defaultBranch = main

[merge]
    ff = only
	tool = vimdiff

[mergetool]
	keepBackup = false
	prompt = false

[mergetool "vimdiff"]
	cmd = nvim -d $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
