[user]
	name = beyarkay
	email = boydrkane@gmail.com

[color]
	ui = auto

[push]
	default = simple

[core]
    pager = delta
	excludesfile = ~/.gitignore_global

[alias]
    dag = log --graph --format='format:%C(yellow)%h%C(reset) %C(blue)\"%an\" <%ae>%C(reset) %C(magenta)%cr%C(reset)%C(auto)%d%C(reset)%n%s' --date-order --all
    last = log -1 HEAD
    co = checkout
    # See changelist for one file across renames https://stackoverflow.com/a/5493663/14555505
    history = log --follow --stat -p --
	yolo = !git add -A && git commit -m \"¯\\_(ツ)_/¯ $(curl --silent --fail https://whatthecommit.com/index.txt)\"
	uncommit = !git reset --soft HEAD^

[commit]
	template = ~/.gitmessage

[pull]
	rebase = true

[rebase]
    # Make the rebase command stashes before running, and pops after running
    autoStash = true

[diff]
	tool = vimdiff
    # Better, more concise diffs for functions with curly braces
    algorithm = patience
    colorMoved = default

[difftool]
	prompt = false

[difftool "vimdiff"]
	cmd = vimdiff \"$LOCAL\" \"$REMOTE\"

[init]
    defaultBranch = main

[merge]
    ff = only
	tool = vimdiff
    conflictstyle = diff3

[mergetool]
	keepBackup = false
	prompt = false

[mergetool "vimdiff"]
	cmd = nvim -d $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'

[interactive]
    diffFilter = delta --color-only

[delta]
    # use n and N to move between diff sections
    navigate = true
    # set to true if you're in a terminal w/ a light background color (e.g. the
    # default macOS terminal)
    light = false

